

<div class ="page-header">
  <h1>National Parks List</h1>
<html>

<h2>Looking for a national park? Start here!</h2>

<h2>Please enter a state.</h2>



<!-- <form action="http://localhost:5000/form1", method='POST'> -->
<form action="http://localhost:5000/test", method='POST'>

 <form>
 <!-- <h>Enter in name of a state</h> -->
  <h2><label for="name">Park Name ( ex.Porcupine Mountains Wilderness State Park or Heritage Park)</label><br><h2>
   <input type="text" name="state"><br>
   <h2><label for="nofp">Location (please use abbreviations i.e. MI for Michigan):</label><br><h2>
   <input type="text" nofp="nofp"><br><br>
       <input type="submit" value="Add a park!"/>


    <button type="button" onclick="alert('Getting results')">Find a park!</button>
      <!-- <button onclick="goBack()">Go Back</button> -->

        <h3>  <a href="http://localhost:5000/">Previous</a>
        <h3>  <a href="http://localhost:5000/park_added">Next</a>


  </form>
