

<div class ="page-header">
  <h1>National Parks List</h1>
<html>
<img src= "Majesitc-Rainbow-Falls-Hilo-915x610.jpg" alt = "Picture of mountain"  style="width:500px;height:600px;">

  <!-- <img src="/pic_trulli.jpg" alt="Italian Trulli">  --> ## write file path and upload everything to git 
<h1>Looking for a national park?</h1>
<h1>Type in a state to find a list of parks</h1>
<h1>Please enter a state</h1>
<form>
  <!-- State:<br> -->
  <input type="text" name="state">
  <button type="button" onclick="alert('Input Saved')">Save</button>

</form>
<button onclick="goBack()">Go to homepage</button>

<script>
function goBack() {
 window.history.back();
}
</script>

<!-- </body> -->
</html>
 <div>
