<!-- <div class ="page-header">
  <h1>National Parks List</h1>
<html>

<p id="saved">.</p>

<button type="button" onclick="myFunction()">Click for status.</button>

<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "Thank you. This park has been added.";
}

</script>

</body>
</html>
<h1>Please return to the previous page to add another park.</h1>

  </h1>. <a href="http://localhost:5000/form1">Previous.</a> -->

<!-- '<h1> Thank you. This park has been added. Please return to the previous page to add another park. </h1>. <a href="http://localhost:5000/form1">Previous.</a>' -->



<html>
<body>

<h2>National Parks List</h2>

<p id="demo">What was the first national park? </p>

<button type="button" onclick="myFunction()">Answer</button>

<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "Yellowstone Park in March 1, 1872. And the second was Mackinac National Park from 1875 to 1895. It was then turned over to the State of Michigan!";
}
</script>

</body>
  <h1> Thank you for searching. Please return to the previous page tofind another park. </h1>. <a href="http://localhost:5000/form1">Previous</a>
</html>
