<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JavaScript Discussion</title>

<script type="text/javascript">

function displayInformation () {
	// document.querySelector('h1').innerHTML = "A name";
	//document.querySelector('h1').innerHTML = "Belinda";// replaced code
	//document.querySelector("#URL").innerHTML = document.documentURI; // URI means something like URL -- slight differences for specificity
	//document.querySelector('#items').innerHTML = document.getElementsByTagName('li').length
	//document.querySelector('#time').innerHTML = new Date();
	//var body = document.querySelector('body')
	body.style.background = "#CCEE00";
	// One place to find color option codes: https://www.w3schools.com/colors/colors_picker.asp
//	body.style.margin = "10%";
}

</script>
<style>
p{
	background-color: #b3b3b3;
	/* border: 3px solid #FFFFFF; */
	border: 3px solid #04489F;
	padding: 3%;
	font-size: 1.1em;
	line-height: 1.5;
}
</style>
</head>
<!-- <body onload = "displayInformation();"> -->
	<h1>A name or title goes here</h1>
</body>
</html>
